In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [2]:
# Reading data
filename = "data_clean.csv"
df = pd.read_csv(filename)
#df.head()

In [5]:
# Preparing text features as columns of 1s and 0s
dummy_var_fuel = pd.get_dummies(df["fuel"])
dummy_var_transmission = pd.get_dummies(df["transmission"])
dummy_var_body = pd.get_dummies(df["body_type"])
# Adding new columns to the dataframe
df = pd.concat([df, dummy_var_fuel, dummy_var_transmission, dummy_var_body], axis = 1)
#df.head()

,Unnamed: 0,Unnamed: 0.1,mark,model,modification,year,price,currency,mileage,engine,...,gas,automatic,manual,convertible,coupe,hatchback,liftbek,sedan,vnedorozhnik-krossover,wagon
0,0,0,Ford,Focus,SE,2014,7999,USD,154.0,"Бензин, 2 л.",...,1,1,0,0,0,0,0,1,0,0
1,1,1,Ford,Focus,FLEX FUEL,2014,9650,USD,87.0,"Бензин, 2 л.",...,1,1,0,0,0,0,0,1,0,0
2,2,2,Ford,Focus,SE,2014,10300,USD,96.0,2 л.,...,1,1,0,0,0,1,0,0,0,0
3,3,3,Ford,Focus,NaN,2017,10800,USD,26.0,"Бензин, 2 л.",...,1,1,0,0,0,0,0,1,0,0
4,4,4,Ford,Focus,SE,2018,12400,USD,6.0,"Бензин, 2 л.",...,1,1,0,0,0,1,0,0,0,0

In [ ]:
# Creating linear regression object
lm = LinearRegression()
#lm

In [ ]:
# Preparing list of independent and dependent variables
Z = df[['mark','model','year','mileage','diesel','gas','engine_volume','automatic','manual','convertible','coupe','hatchback','sedan','wagon']]
#Z.shape
Y=df['price_usd']

In [ ]:
# Creating polynomial features object
pf = PolynomialFeatures(degree=3,include_bias=False)
#pf

In [ ]:
Z_pf = pr.fit_transform(Z)
#Z_pf.shape

In [ ]:
# Fit the model
lm.fit(Z_pf, Y)

In [ ]:
# Run prediction
Yhat = lm.predict(Z_pf)

In [ ]:
# Distibution plot for actual and predicted values
width=12
height=10
plt.figure(figsize = (width, height))
ax1 = sns.distplot(Y, hist = False, color = 'r', label = 'Actual value')
sns.distplot(Yhat, hist = False, color = 'b', label = 'Fitted value', ax = ax1)
plt.title = 'Actual vs fitted'
plt.xlabel('Price in USD')
plt.ylabel('Proportion of cars')
plt.show()
plt.close()

In [ ]:
# R squared
R_2 = lm.score(Z_pf, Y)
R_2

In [ ]:
# Mean squared error
mse = mean_squared_error(Y,Yhat)
mse

In [ ]:
# Parameters of your car 
#['mark','model','year','mileage','diesel','gas','engine_volume','automatic','manual','convertible','coupe','hatchback','sedan','wagon']
my_car=np.array(['Ford','Focus',2013,120,1,0,2.0,1,0,0,0,0,0,1]).reshape(1,-1)
#my_car.astype

In [ ]:
# Polynomial features for my car
my_car_pf=pf.fit_transform(my_car)

In [ ]:
# Price prediction
my_car_price=lm.predict(my_car_pf)
my_car_price